body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: monospace, serif;
    background-color: #f0f0f0;
}

main .container {
    max-width: 1400px;
}

main h2 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header {
    background-image: url('../img/white-black-monochrome-cityscape-architecture-photography-560530-wallhere.com.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.header h1 {
    color: #000000;
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    margin-top: -300px;
    margin-left: -1200px;
}

.header p {
    color: #ffffff;
    font-size: 24px;
    margin: 0;
    margin-top: 10px;
    margin-left: -1200px;
}

@media (max-width: 768px) {
    .header h1 {
        color: #000000;
        margin-top: -500px;
        margin-left: 0;
        font-size: 36px;
    }

    .header p {
        color: #000000;
        margin-top: 10px;
        margin-left: 0;
        font-size: 18px;
    }
}

@media (max-width: 576px) {
    .header h1 {
        margin-top: -100px;
        margin-left: 0;
        font-size: 36px;
    }

    .header p {
        margin-top: 10px;
        margin-left: 0;
        font-size: 18px;
    }
}

.intro,
.featured {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    overflow: hidden;
}

.intro-content,
.featured-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.intro img,
.featured img {
    width: 50%;
    height: auto;
}

.caption {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.caption h3,
.caption p {
    margin: 0;
}

@media (max-width: 768px) {
    .intro-content,
    .featured-content {
        flex-direction: column;
    }

    .intro img,
    .featured img,
    .caption {
        width: 100%;
    }
}

.gallery {
    background-color: #333;
    color: #fff;
    padding-bottom: 30px;
}

.gallery .row {
    margin-right: 0;
    margin-left: 0;
}

.gallery .col-md-4 {
    padding: 0;
}

.gallery .col-md-12 {
    padding: 50px;
}
.gallery img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.gallery h2 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 10px;
}

.gallery img:hover {
    filter: brightness(70%);
    transition: filter 0.3s ease;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    clear: both;
}

footer p {
    margin: 5px 0;
    font-size: 14px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 50px 20px;
    text-align: center;
}

.contact-section h2 {
    margin-bottom: 30px;
}

.btn {
    background-color: #181818;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    background-color: #494949;
    color: white;
}

.contact-form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
}

.contact-form .form-group {
    width: 100%;
    margin-bottom: 20px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.contact-form input[type="submit"] {
    width: 100%;
    padding: 12px 0;
    margin-top: 10px;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .contact .container {
        width: 90%;
    }
}

@media (max-width: 576px) {
    .intro img,
    .featured img {
        margin: 20px 0;
    }

    .header h1 {
        margin-top: -150px;
        margin-left: 0;
        font-size: 36px;
    }

    .header p {
        margin-top: 10px;
        margin-left: 0;
        font-size: 18px;
    }

    .call-to-action h2 {
        font-size: 28px;
    }

    .call-to-action p {
        font-size: 16px;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .intro img,
    .featured img {
        margin: 20px 0;
    }
}

@media (min-width: 768px) {
    .col-lg-3,
    .col-md-4,
    .col-sm-6 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-lg-4,
    .col-md-6,
    .col-sm-12 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-lg-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
